<h3 id="formTitle">Json Generator</h3>
<form id="configForm" class="row g-3">
    <div class="input-group">
        <span class="input-group-text">
            Path*,*value
            </span>
        <textarea id="jsonConfig" class="form-control" aria-label="EndUserSetting" style="height: 200px;">
        </textarea>
        </div>
    <div class="row g-3">
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Generate</button>
    </div>
    </div>
</form>
<br>
<div class="card row g-3">
    <div class="card-body">
        <div id="result">
        </div>
    </div>
</div>